.wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #dece68;
  box-shadow: 1px 9px 15px 2px rgba(222, 206, 104, 0.2) inset;
}

.logo {
  cursor: pointer;
}

.button {
  padding: 0 25px;
  border: none;
  border-radius: 25px;
  background-color: #3f864b;
  font-size: 1.1rem;
  cursor: pointer;
}
